/* Task #1 */
@media print {

	.tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact {
		display: none;
	}  

	.tm-main-content {
		max-width: 75%;
		margin: auto;
	}

	.tm-content-box
	.tm-banner 
	p::first-letter{
		color: #85BCD9;
	}

	.tm-banner .tm-content-box{
		padding: 0;
		margin: 0;
	}
	

	.tm-content-box .flex-item  {
		float: left;
	}
	.tm-content-box .tm-team-description-container {
		max-width: 70%;
	}

	.tm-content-box 
	.tm-team-description-container 
	.tm-section-title {
		max-width: 400px;
		color: #030EFF
	}
	.tm-content-box 
	.tm-team-description-container 
	>.tm-section-description {
		font-style: italic;
	}

	.tm-content-box .flex-item img {
		width: 150px;
		height: 150px;
		margin-top: 100px;
	}
	.tm-content-box 
	.tm-team-description-container
	h2 + p {
		font-style: italic;
	}

	.tm-content-box 
	.tm-team-description-container
	p {
		text-indent: 20px;
	}

	.tm-content-box 
	.tm-team-description-container
	p::first-letter {
		color: #85BCD9;
		font-size: 30px;
	}

	.tm-footer
	p::first-letter{
		font-size: 30px;
		color: #85BCD9;	
	}
}


@media screen {

/* Task #2 */
	.box-bg:hover {
		background-color: #87CEFA;
		color: white;
		cursor: pointer;
	}
	.box-bg:hover h2{
		color: white;
	}

/* Task #3 */	
	p::first-letter {
		color: #87CEFA;
		font-size: 30px;
	}

/* Task #4 */	
section, .tm-main-nav, .tm-banner, #home {
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.46);	
 }

 .tm-banner {
 	background-color: #F5F5F5;
 }
 .tm-banner-inner {
 	background-color: #fff;
 }

/* Task #5 */
	section:before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 35px 250px 0 0;
		border-color: #87CEFA transparent transparent transparent;
	}

/* Task #6 */
	.carousel-description {
		color: #dcdcdc;
		letter-spacing: 5px;
	}

/* Task #7 */
	h2 + p {
		font-style: italic;
	}

/* Task #8 */
	p.tm-section-description {
		text-indent: 20px;
		line-height: 35px;
	}

/* Task #9 */
.heading li a {
	color: black;
}
.heading li a:visited {
	text-decoration: underline;
}
.heading li a:hover {
	text-decoration: line;
	text-decoration-style: double;
	color: #87CEFA;
}
.heading li:first-child a:after {
	content: "New";
	color: red;
	font-size: 10px;
	position: absolute;
}
.heading li:nth-child(3) a:after {
	content: "New";
	color: red;
	font-size: 10px;
	position: absolute;
}



/* Task #10 */
.gallery-container {
	display: flex;
	flex-wrap: wrap
}
.box-work {
	flex: 1 0 31%;
	margin: 10px;
}
.box-work p::first-letter {
	color: black;
}

/* Task #11 */
.mandatory-field:after {
	content: "*";
	color: red;
	font-weight: bold;
}

.btn {
	border-radius: 0;
}
.btn-primary {
	color: #87CEFA;
	background-color: #fff;
	border-color: #87CEFA;
}
.btn-primary:hover {
	color: white;
	background-color:  #87CEFA;
	border-color: #87CEFA;
}

.contact-form {
	text-align: right;
}

/* Task #12 */
 

/* Addition styles*/
.flex-2-col {
	display: flex;
}



}

