$headerBgImg_1: url(../img/header_background_v1.jpg);
$primaryFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

$blackText: #010F16;

$bodyBg: #FFFFFF;

$borderColor: #607D8B;

$navBorderColor: #607D8B;
$navTextColor: #ffff;

$headerTitleColor: #ffff;

$btnBgColor: #01ACAC;
$btnTextColor: #ffff;

$searchColor: $blackText;
$sectionTitleColor: $blackText;
$sectionTextColor: $blackText;

$articleBg: #EFEFEF;

$postDescColor: #E90303;
$postTitleColor: #01ACAC;

$footerTextColor: $blackText;