$headerBgImg: url(../img/header_background_v1.jpg);
$primaryFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$borderStyle: 1px solid #607D8B;

$blackText: #010F16;
$bodyBg: #FFFFFF;
$headerTextColor: #ffff;

$btnBgColor: #01ACAC;
$btnTextColor: #ffff;

$searchColor: $blackText;

$sectionTitleColor: $blackText;
$sectionTextColor: $blackText;

$articleBg: #EFEFEF;

$postDescColor: #E90303;
$postTitleColor: #01ACAC;

$footerTextColor: $blackText;