$headerBgImg_1: url(../img/header_background_v2.jpg);
$primaryFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;

$navBorderColor: #ffff;
$navTextColor: #FF5722;

$headerTitleColor: #FF5722;

$btnBgColor: #0401AC;
$btnTextColor: #ffff;