$headerBgImg: url(../img/header_background_v2.jpg);
$primaryFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$borderStyle: 1px solid #CFD8DC;

$blackText: #757575;
$bodyBg: #EFEFEF;
$headerTextColor: #FF5722;

$btnBgColor: #0401AC;
$btnTextColor: #ffff;

$searchColor: $blackText;

$sectionTitleColor: $blackText;
$sectionTextColor: $blackText;

$articleBg: #FFFFFF;

$postDescColor: #C3C3D4;
$postTitleColor: #607D8B;

$footerTextColor: $blackText;