/*  START Reset Syles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/*  END Reset Syles */
.btn {
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn-nav {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-exp {
  width: 100%;
  color: #FFFFFF;
  background-color: #097774;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}

.btn-sub {
  color: #FFFFFF;
  background-color: #097774;
  font-weight: bold;
  font-size: 14px;
}

.btn-email {
  color: #000000;
  background-color: #F3F3F3;
  border: 1px solid #000000;
  margin-right: 10px;
  padding-right: 30px;
  font-size: 14px;
}

body {
  background-color: #F3F3F3;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../img/sample2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

header .top-wrapper {
  display: flex;
  padding: 40px 50px 0px;
  color: #FFFFFF;
}

header .top-wrapper .logo {
  text-transform: uppercase;
  margin-right: auto;
  letter-spacing: 4px;
}

header .top-wrapper .user-reg a {
  color: #FFFFFF;
}

header .top-wrapper .user-reg a:first-child {
  margin-right: 60px;
}

header section {
  flex: 1;
  color: #FFFFFF;
  text-align: center;
  flex-direction: column;
  display: flex;
}

header section .header-title {
  display: flex;
  flex-direction: column;
  margin: auto;
}

header section .header-title h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 6px;
}

header section .header-title h1 span {
  font-weight: normal;
  font-size: 85px;
}

header section .header-title p {
  text-transform: capitalize;
}

header nav {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header nav a {
  text-transform: capitalize;
}

.triangle {
  width: 100vw;
  max-width: 100%;
  height: 200px;
  background-color: #000000;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
}

.triangle p {
  color: black;
}

.triangle-text {
  display: flex;
  flex-direction: column;
  padding: 0 50px 10px;
  z-index: 10;
  position: relative;
}

.triangle-text p:nth-of-type(1) {
  align-self: flex-end;
  color: #FFFFFF;
  max-width: 50%;
}

.triangle-text p:nth-of-type(2) {
  color: #000000;
  font-size: 20px;
  max-width: 25%;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.section-about .article {
  display: flex;
  flex-direction: row;
  margin: 30px 50px 70px;
  overflow: hidden;
}

.section-about .article figure {
  flex: 1;
  margin: 0;
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.section-about .article figure img {
  width: 100%;
  min-height: 300px;
  display: block;
  position: relative;
}

.section-about .article figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #FFFFFF;
  font-size: 14px;
}

.section-about .article figure .like-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 0 5px;
  color: #FFFFFF;
  font-size: 14px;
  border: 2px solid #FFFFFF;
}

.section-about .article figure .like-box span {
  font-size: 10px;
}

.section-about .article .article-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 100px;
}

.explore-blocks {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  padding: 35px 0 70px;
}

.explore-blocks__item {
  max-width: 320px;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.section-subscribe {
  padding: 50px 25px;
}

.section-subscribe .title-wrap {
  display: flex;
  justify-content: flex-end;
}

.section-subscribe .title-wrap h2 {
  padding-right: 30px;
}

footer {
  background-color: #FFFFFF;
  padding: 0 50px;
}

footer .footer-blocks {
  display: flex;
  padding: 120px 0px 100px;
}

footer .footer-blocks__item {
  flex: 1;
  margin-right: 10px;
}

footer .footer-blocks__item h3 {
  text-transform: capitalize;
  margin-bottom: 25px;
}

footer .footer-blocks__item button {
  line-height: 37px;
}

footer .footer-blocks__item p {
  margin-bottom: 0;
  color: #9E9E9E;
}

footer .footer-blocks__item .time {
  color: #E8E8E8;
}

footer .footer-bottom {
  display: flex;
  padding: 20px 0px;
  border-top: 2px solid #F0F0F0;
  align-items: center;
}

footer .footer-bottom .footer-bottom__copyright {
  color: #9E9E9E;
  margin-right: auto;
}

footer .footer-bottom nav a {
  color: #000000;
  margin-left: 20px;
  text-transform: capitalize;
}
