/* 	START Reset Syles */
body {
  margin: 0;
  font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

/* 	END Reset Syles */
.main-wrapper {
  background-color: #EFEFEF; }

/* 	START Heder section */
header {
  background-image: url(../img/header_background_v2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  header section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
    header section h1 {
      text-transform: uppercase;
      color: #FF5722;
      text-decoration: none;
      text-align: center;
      margin-bottom: 15px; }

.top-wrapper .logo {
  display: inline-block; }
  .top-wrapper .logo img {
    width: 230px;
    height: 130px; }
.top-wrapper nav {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0; }
  .top-wrapper nav a {
    display: inline-block;
    padding: 20px 100px;
    cursor: pointer;
    border-right: 1px solid #CFD8DC;
    text-transform: uppercase;
    color: #FF5722;
    text-decoration: none;
    font-weight: bold; }
    .top-wrapper nav a:last-child {
      border-right: none; }

/* 	END Heder section */
/* 	Start Page Elements */
.btn {
  display: inline-block;
  padding: 15px 80px;
  background-color: #0401AC;
  text-transform: uppercase;
  color: #ffff;
  text-decoration: none;
  border: none;
  cursor: pointer; }
  .btn-top {
    padding: 15px 60px; }

/* END Page Elements  */
main {
  margin: 0px 200px; }

.toolbar {
  margin: 10px 5px;
  text-align: right; }
  .toolbar input {
    padding: 10px;
    border: 1px solid #CFD8DC;
    background-color: transparent; }
    .toolbar input::placeholder {
      color: #757575;
      padding-left: 10px; }

section h1 {
  text-transform: uppercase;
  color: #757575;
  text-decoration: none;
  text-align: right; }
section h4, section p {
  color: #757575; }

article {
  display: flex;
  background-color: #FFFFFF;
  padding: 10px 20px 10px 10px;
  margin-bottom: 20px; }
  article:last-child {
    margin-bottom: 0; }
  article img {
    width: 280px;
    height: 280px; }
  article button {
    float: right; }

.post {
  margin-left: 10px; }
  .post-description {
    font-size: 12px;
    border-bottom: 1px solid #CFD8DC;
    color: #C3C3D4;
    padding: 10px 5px; }
  .post h3 {
    text-transform: uppercase;
    color: #607D8B;
    text-decoration: none;
    margin-top: 5px; }

.about, .contact-form {
  margin-top: 50px; }

.about img {
  width: 100%;
  height: auto; }

/* 	START Contact form */
.contact-form h4 {
  text-align: right;
  text-transform: uppercase;
  color: #757575;
  text-decoration: none; }
.contact-form form {
  display: flex;
  flex-direction: column; }
  .contact-form form input {
    display: flex;
    line-height: 40px; }
  .contact-form form label {
    display: flex;
    align-self: flex-end;
    color: #607D8B; }
  .contact-form form label, .contact-form form button {
    margin-top: 20px; }
  .contact-form form input, .contact-form form textarea {
    border: 1px solid #CFD8DC;
    background-color: transparent; }
  .contact-form form button {
    display: inline-flex;
    width: auto;
    align-self: flex-end; }
.contact-form .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contact-form .input-wrapper__item {
    display: flex;
    flex-direction: column;
    width: 49%; }

/* 	END Contact form */
footer {
  font-size: 12px;
  color: #757575;
  margin: 10px; }
